<div class="flex flex-row ">
  <div class="flex flex-row">
    <img class="w-xl ml-16 mt-6 rounded-md border-2 border-black" src="assets/imagen-ropa-principal.svg" alt="">
    <div class="flex flex-col gap-2 mt-8">
      <h1 class="font-bold text-2xl items-center justify-center text-center mt-5 font-mono ">Sobre Nosotros </h1>
      <p class=" ml-14 mr-14 text-center mt-5 font-medium font-mono">En Street Rat, somos un grupo de cuatro compañeros de clase con una visión compartida:
        crear una tienda de ropa que combine lo mejor de dos mundos. Nuestra marca mezcla estilos juveniles con toques clásicos,
        logrando prendas únicas que destacan por su versatilidad y estilo auténtico</p>
      <p class="ml-14 mr-14 text-center mt-5 font-medium font-mono">Desde el inicio, nuestra meta ha sido ofrecer moda que conecte generaciones, permitiendo que cada persona encuentre
        su propio equilibrio entre lo moderno y lo tradicional. Nos impulsa la pasión por la creatividad,
        el trabajo en equipo y el deseo de marcar una diferencia en el mundo de la moda.</p>
      <p class="ml-14 mr-14 text-center mt-5 font-medium font-mono">Pero esto es solo el principio. En Street Rat, soñamos en grande: nuestro próximo
        paso es expandir nuestra marca y llevar nuestro estilo a más personas,
        creando una comunidad que comparta nuestra filosofía de autenticidad y estilo sin límites.
        Únete a nuestra aventura y forma parte del espíritu Street Rats</p>
    </div>
  </div>

</div>
