#map-container {
  position: relative;
  width: 100%;
  height: 80vh; /* Use viewport height to ensure it fits within the screen */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 300px; /* Ensure a minimum height for the container */
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 5px); /* Ajusta el valor según lo que falte */
  bottom: 0;
  z-index: 0;
}


