<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md">
    <h1 class="text-2xl font-bold mb-6 text-center">VERIFICAR CÓDIGO</h1>

    <form [formGroup]="verificacionForm" (ngSubmit)="onSubmit()">
      <!-- Campo Email -->
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Correo Electrónico
        </label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Correo Electrónico"
          required
        />
      </div>

      <!-- Campo Código de Verificación -->
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="codigo">
          Código de Verificación
        </label>
        <input
          id="codigo"
          type="text"
          formControlName="codigo"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Ingrese el código"
          required
        />
      </div>

      <!-- Botón de Verificar -->
      <div class="flex items-center justify-between">
        <button
          type="submit"
          class="bg-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
          [disabled]="verificacionForm.invalid"
        >
          VERIFICAR CÓDIGO
        </button>
      </div>

      <!-- Mensajes -->
      <p *ngIf="successMessage" class="mt-2 text-sm text-green-500 text-center">{{ successMessage }}</p>
      <p *ngIf="errorMessage" class="mt-2 text-sm text-red-500 text-center">{{ errorMessage }}</p>
    </form>
  </div>
</div>
